* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

/*-------Fonts-------*/
body {
    font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    text-align: center;
    margin-bottom: 0.35%;
}

h2 {
    text-transform: uppercase;
}

h1, h2, h3 {
    font-size: 4rem;
}

h4 , h5, h6 {
    font-size: 2.8rem;
}


p{
    text-align: center;
}
/*------General Stylings------*/


section{
    margin: 0 5%;
    padding: 0 3% 2%;
    width: calc(100vw - 10%);
    display: block;
}

.section-waterConserve, .section-waterAvail, .proteccH2O, .section-waterSustains {
    display: inline-block;
    padding-bottom: 2%;
    position: relative;
}

section::after , .section-waterConserve::after, .section-waterAvail::after, .proteccH2O::after{
    clear: both;
}

img {
    max-width: 100%;
    max-height: 100%;
}

button {
    cursor: pointer;
}


.footer {
    display: block;
    width: 100vw;
    margin-top: 1%;
}

sl-button.footer-btn::part(base){
    transform: translate(500%, 0%);
    padding: 2%;
}

/*----Sticky Navigation-----*/
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .conserveH2O {
    padding-top: 2%;
}

.sticky + .proteccH2O {
    padding-top: 2%;
}

/*-----Intro section------*/
#imgHero {
    background-image: url("./../images/pexels-pixabay-247765-waterDroplet.jpg");
    background-color: #5B9ED9;
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain ;
    
}

.intro{
    width: 70%;
    margin: 0 15%;
    height: 100vh;
    padding: 2%;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-70%, -35%);
}



#navbar {
    overflow: hidden;
    display: inline-block;
    width: 100%;   
    left: 0;
    top: 0;
    position: sticky;
    padding-top: 0.25%;
}
#browserNav {
    display: flex;
    flex-direction: column;
    z-index: 100;
    padding-top: 2%;
}

#browserNav sl-button::part(base) {
    margin-bottom: 0.5%;
}

#hamburgerNav {
    float: right;
    z-index: 100;
}


.intro h3 {
    margin-top: initial;
}

.intro h1 {
    margin-top: 1%;
}

.intro-btn::part(base) {
    background: white;
    border: solid 1px #5B9ED9;
    margin-top: 0;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    
}

.intro-btn::part(base):hover {
    background: #99c8f2;
}

.welcome {
    text-align: center;
    font-size: 1.5rem;
}

/*-----END Intro Section-----*/

/*-----Value of water section----*/

    .valueWater_btns{
        width: 100%;
        margin-top: 2%;
        margin-bottom: 0.5%;
        margin-left: 18%;
        padding: 0;
        display: inline-block;
        position: relative;
    }

    .valueWater_btns::after{
        clear: both;
    }

    .valueWater_img{
        width: 30%;
        margin: 0 auto;
        padding: 0;
        object-fit: contain;
    }

    p.waterUses_btn, p.waterSustains_btn{
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        text-align: center;
        position: absolute;
        font-size: 1.8rem;
        
    }

    p.waterUses_btn {
        transform: translate(80%, 7%);
        color: black;
    }

    p.waterSustains_btn {
        transform: translate(150%, -410%);
        color: white;
    }

        /*-----Uses of Water section -----*/
        

        .water_Uses_img{
            width: 100%;
            margin: 0;
            object-fit: contain;
        }

        .section-waterUses_Title{
            transform: translateY(10%);
        }
        /*-----END Uses of Water section -----*/

        /*-----How Water sustains Nature section -----*/


            /*------Basic Collage Setup-----*/
                .waterSustains_collagesht{
                    display: inline-block;
                    position: relative;
                    width: 95%;
                    margin: 2% 2.5%;
                }


                .ws-collagePic{
                    width: 23%;
                    height: auto;
                    margin: 1%;
                    cursor: pointer;
                }


                .ws-collagePic:hover{
                    opacity: 0.7;
                }

            /*------Styling individual elements----*/
                

            /*Creating Overlay-----*/
                /*-----Overlay Background---*/
                .collageOverlay {
                    display: none; /* Hidden by default */
                    position: fixed; /* Stay in place */
                    z-index: 200; /* Sit on top */
                    
                    left: 0;
                    top: 0;
                    width: 100vw; /* Full width */
                    height: 100vh; /* Full height */
                    max-height: 100%;
                    overflow: auto; /* Enable scroll if needed */
                    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
                }

                .collageOverlay div{
                    display: flex;
                    flex-direction: column;
                    padding: 4% 3%; /* Location of the box */
                    width: 100%;
                    height: 100%;
                }

                /*-----Overlay Image---*/
                .overlay-Content {
                    margin-bottom: 1%;
                    width: 100%;
                    
                    /*Add animation*/
                    -webkit-animation-name: zoom;
                    -webkit-animation-duration: 0.6s;
                    animation-name: zoom;
                    animation-duration: 0.6s;
                }

                @-webkit-keyframes zoom {
                    from {-webkit-transform:scale(0)} 
                    to {-webkit-transform:scale(1)}
                }
                
                @keyframes zoom {
                    from {transform:scale(0)}
                    to {transform:scale(1)}
                }

                /*The close button-----*/
                .overlay-CloseBtn::part(base) {
                    width: 100%;
                }

                .overlay-CloseBtn::part(base)::after {
                    clear: both;
                }
        /*-----END How Water sustains Nature section -----*/
/*-----END Value of water section----*/

/*-----Why conserve Water section -----*/

        /*----- How much Water is really needed section -----*/
        
        
        #waterTrend-btn, #waterUsage-btn{
            z-index: 100;
        }
            
        .waterNeed-img {
            width: 49%;
            object-fit: contain;
            padding: 1%;
        }

        .waterNeed-demo {
            width: 100%;
            height:100%;
            border-style: solid;
            display: inline-block;
        }

        #waterNeeds-Highlight {
            color: #E61A14;
        }

        .waterNeed-demo sl-tab-panel::part(base) {
            --padding: 2%;
            text-align: center;
        }

        .section-waterConserve{
            left: 10%;
        }
        

        /*----- END How much Water is really needed section -----*/


        /*----- How much Water we have section -----*/

        .waterAvail-gallery {
            width: 100%;
        }

        .waterAvail-img {
            width: 33%;
            margin-top: 2%;
            padding: 0;
            object-fit: contain;
        }

        .waterAvail-img::after {
            clear: both;
        }

        .waterAvail-demo {
            width: 30%;
            height: 93%;
            margin: 0;
            padding: 5%;
            border-style: dashed;
            transform: translate(200%, -101%);
        }

        .section-waterAvail::after{
            clear: both;
        }
        /*----- END How much Water we have  section -----*/

        /*-----Consequences of No Water section -----*/
        #consq {
            width: 80vw;
            margin: 0 10vw;
        }

        .consequences-imgGallery{
            display: flex;
            width: 100%;
            transform: translate(-2.5%, 0);
            margin-bottom: 2%;
        }

        .consequences-imgGallery::after{
            clear: both;
        }
       
        /*-----Consequences of No Water Collage -----*/
        .consequences-imgCollage{
            position: absolute;
        }

        .consequences-imgCollage::after{
            content: "";
            clear: both;
            position: initial;
        }

        #consequences-forest, #consequences-deer, #consequences-Turtle, #consequences-bird{
            z-index: 3;
            width: 10%;
            border-radius: 50%;
        }

        #consequences-forest {
            transform: translate(550%, 350%);
        }

        #consequences-deer {
            transform: translate(-200%, 300%);
        }

        #consequences-bird {
            transform: translate(180%, 20%);
        }

        #consequences-Turtle {
            transform: translate(680%, 280%);
        }

        /*Styling big image BG--------*/
        #city_lake{
            width: 100%;
            display: inline-block;
        }
        /*-----END Consequences of No Water Collages -----*/
        /*-----END Consequences of No Water section -----*/


/*-----END Why conserve Water section -----*/



/*-----Protecting Singapore's water supply -----*/

    /*-----Sources of Water in Singapore section----*/
        #supply-Gallery{
            display: flex;
            flex-direction: row;
            width: 100%;
            transform: translateX(10%);
            margin-top: 2%;
        }

        #supply-Gallery::after{
            content: "";
            clear: both;

        }

        .waterSupply-GalleryImg {
            width: 100%;
            height: 100%;    
        }


    /*Creating the flipcards----*/
        .flip-card {
            background-color: transparent;
            width: 15vw;
            height:15vw;
            margin: .9%;
            padding: 0;
        }

        .flip-card-inner {
            position: relative;
            width: 100%;
            height: 100%;
            text-align: center;
            transition: transform 0.6s;
            transform-style: preserve-3d;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        }

        .flip-card:hover .flip-card-inner {
            transform: rotateY(180deg);
        }


        .flip-card-front, .flip-card-back {
            position: absolute;
            width: 100%;
            height: 100%;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
        }

        .flip-card::after{
            content: "";
            clear: both;
            position: initial;
        }
          
        .flip-card-front {
            background-color: transparent;
        }
          
        .flip-card-back {
            background-color: #2980b9;
            color: white;
            transform: rotateY(180deg);
            padding: 8% 2.5% 5%;
            
        }
        
        .flip-card-TitleTxt { 
            font-size: 1.6rem;
            margin-top: 0;
        }

        .flip-card-Txt {
            font-size: 1.2rem;
            margin-bottom: 0;
        }

    /*Switch to activate Quiz----*/
        #switchQuiz{
            margin: 2% 0;
            transform: translateX(110%);
        }

        /*-----END Sources of Water in Singapore section----*/

        /*-----Quizz portion (Prevent Contamination of Water supply)--------*/
        /*--------Styling the quiz button------*/
        .waterSupply-quiz {
            text-align: center;
        }

        .quizShow {
            width: 80%;
            margin-top: 2%;
            transform: translateX(110%);

        }
        
        #qnForm {
            display: none;
        }

        #qnSheet {
            display: inline-block;
        }



        .question-options{
            width: 100%;
            margin: 0;
            padding: 0;
        }

        .ansBtn {
            margin-top: 3%;
        }

        .waterSupply-quiz {
            display:inline-block;
        }

        .qn {
            display: none;
            width: 100%;
            height: 100%;
        }

        /*-----END Quizz portion (Prevent Contamination of Water supply)-----*/

/*-------END Protecting Singapore's Water supply Section------*/

