* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

/*-------Fonts-------*/
body {
    font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    text-align: center;
    margin-bottom: 0.35%;
}

h1 {
    font-size: 4rem ;
}

h2 {
    font-size: 3.6rem;
    text-transform: uppercase;
}

h3 {
    font-size: 3.2rem;
}

h4 {
    font-size: 2.8rem;
}

h5 {
    font-size: 2.4rem;
}

h6 { font-size: 2rem;}


p{
    text-align: center;
}
/*------General Stylings------*/


section{
    margin: 0 5%;
    padding: 0 3% 2%;
    width: calc(100vw - 10%);
    display: block;
}

.section-waterConserve, .section-waterAvail, .proteccH2O, .section-waterSustains {
    display: inline-block;
    padding-bottom: 2%;
    position: relative;
}

section::after , .section-waterConserve::after, .section-waterAvail::after, .proteccH2O::after{
    clear: both;
}

img {
    max-width: 100%;
    max-height: 100%;
}

button {
    cursor: pointer;
}


.footer {
    display: block;
    width: 100vw;
    margin-top: 1%;
}

sl-button.footer-btn::part(base){
    transform: translate(500%, 0%);
    padding: 2%;
}

/*----Sticky Navigation-----*/
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .conserveH2O {
    padding-top: 2%;
}

.sticky + .proteccH2O {
    padding-top: 2%;
}

#phoneNavBtn{
    float: right;
    margin-right: 2%;
    display: none;
}


#phoneNav::part(body){
    display: flex;
    flex-direction: column;    
    --body-spacing: 5%;
}

#phoneNav a {
    margin-bottom: 2%;
}

/*-----Intro section------*/
#imgHero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./../images/pexels-pixabay-247765-waterDroplet.jpg");
    background-color: #5B9ED9;
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain ;
    
}

.intro{
    width: 70%;
    margin: 0 15%;
    height: 100vh;
    padding: 2%;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-70%,-15%);
}

.intro h1, .intro h4, .intro p {
    color: white;
}

.intro::after{
    content: "";
    clear: both;
    position: initial;
}


#navbar {
    overflow: hidden;
    display: inline-block;
    width: 100vw;   
    left: 0;
    top: 0;
    z-index: initial;
    position: sticky;
    padding-top: 0.25%;
}

#navbar::after{
    display: flex;
    flex-direction: column;
    content: "";
    clear: both;
    position: initial;
}

sl-tooltip::part(base){
    --max-width: 100%;
    --z-index: 100;
}

sl-tooltip::part(base)::after{
    --z-index: initial;
}

#browserNav {
    display: flex;
    flex-direction: column;
    padding-top: 2%;
    padding-left: initial;
}

#browserNav div::after {
    content: '';
    display: table;
    clear: both;
}

#browserNav div {
    margin-bottom: 0.95%;
    opacity: 0.7;
}

#browserNav div sl-tooltop::part(base){
    transform: translateX(10%) ;
}


.intro h3 {
    margin-top: initial;
}

.intro h1 {
    margin-top: 1%;
}

.intro-btn::part(base) {
    background: white;
    border: solid 1px #5B9ED9;
    margin-top: 0;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    
}

.intro-btn::part(base):hover {
    background: #99c8f2;
}

.welcome {
    text-align: center;
    font-size: 1.5rem;
}

/*-----END Intro Section-----*/

/*-----Value of water section----*/

    .valueWater_btns{
        width: 100%;
        padding: 0;
        display: flex;
        position: relative;
    }

    .valueWater_btns::after{
        clear: both;
    }

    .valueWater_img{
        width: 48%;
        margin: 0 1%;
        padding: 0;
        object-fit: contain;
        position: relative;
    }

    p.waterUses_btn, p.waterSustains_btn{
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        text-align: center;
        position: absolute;
        font-size: 3rem;
        
    }

    p.waterUses_btn::after, p.waterSustains_btn::after{
        clear: both;
        content: "";
        position: initial;
    }

    p.waterUses_btn {
        transform: translate(75%, 90%);
        color: black;
    }

    p.waterSustains_btn {
        transform: translate(13%, 400%);
        color: white;
    }

        /*-----Uses of Water section -----*/
        

        .water_Uses_img{
            width: 100%;
            margin: 0;
            object-fit: contain;
        }

        .section-waterUses_Title{
            transform: translateY(10%);
        }
        /*-----END Uses of Water section -----*/

        /*-----How Water sustains Nature section -----*/


            /*------Basic Collage Setup-----*/
                .waterSustains_collagesht{
                    display: inline-block;
                    position: relative;
                    width: 95%;
                    margin: 0 2.5% 2%;
                }


                .ws-collagePic{
                    width: 31%;
                    height: auto;
                    margin: 1%;
                    cursor: pointer;
                }


                .ws-collagePic:hover{
                    opacity: 0.7;
                }

            /*------Styling individual elements----*/
                

            /*Creating Overlay-----*/
                /*-----Overlay Background---*/
                .collageOverlay {
                    display: none; /* Hidden by default */
                    position: fixed; /* Stay in place */
                    z-index: 200; /* Sit on top */
                    
                    left: 0;
                    top: 0;
                    width: 100vw; /* Full width */
                    height: 100vh; /* Full height */
                    max-height: 100%;
                    overflow: auto; /* Enable scroll if needed */
                    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
                }

                .collageOverlay div{
                    display: flex;
                    flex-direction: column;
                    padding: 4% 3%; /* Location of the box */
                    width: 100%;
                    height: 100%;
                }

                /*-----Overlay Image---*/
                .overlay-Content {
                    margin-bottom: 1%;
                    width: 100%;
                    
                    /*Add animation*/
                    -webkit-animation-name: zoom;
                    -webkit-animation-duration: 0.6s;
                    animation-name: zoom;
                    animation-duration: 0.6s;
                }

                @-webkit-keyframes zoom {
                    from {-webkit-transform:scale(0)} 
                    to {-webkit-transform:scale(1)}
                }
                
                @keyframes zoom {
                    from {transform:scale(0)}
                    to {transform:scale(1)}
                }

                /*The close button-----*/
                .overlay-CloseBtn::part(base) {
                    width: 100%;
                }

                .overlay-CloseBtn::part(base)::after {
                    clear: both;
                }
        /*-----END How Water sustains Nature section -----*/
/*-----END Value of water section----*/

/*-----Why conserve Water section -----*/

        /*----- How much Water is really needed section -----*/
        
            
        .waterNeed-img {
            width: 48%;
            object-fit: contain;
            padding: 1%;
        }

        .waterNeed-demo {
            width: 100%;
            height:100%;
            border-style: solid;
            display: inline-block;
        }

        #waterNeeds-Highlight {
            color: #E61A14;
        }

        .waterNeed-demo sl-tab-panel::part(base) {
            --padding: 2%;
            text-align: center;
        }

        .section-waterConserve{
            left: 10%;
        }
        

        /*----- END How much Water is really needed section -----*/


        /*----- How much Water we have section -----*/

        .waterAvail-gallery {
            width: 100%;
            display: flex;
            flex-direction: row;
        }

        .waterAvail-img sl-tooltip::part(base) {
            margin-top: 4%;
            width: 100%;

        }

        .waterAvail-img sl-tooltip::part(base)::after {
            clear: both;
            display: initial;
        }

        .waterAvail-img {
            width: 31%;
            height: 31%;
            margin: 2% 1% 1.5%;
            padding: 0;
            object-fit: contain;
        }
        

        
        

        .waterAvail-img::after {
            clear: both;
            display: flex;
            flex-direction: row;
        }

        .section-waterAvail::after{
            clear: both;
        }
        /*----- END How much Water we have  section -----*/

        /*-----Consequences of No Water section -----*/
        #consq {
            width: 80vw;
            margin: 0 10vw;
        }

        .consequences-imgGallery{
            display: inline-block;
            width: 100%;
            transform: translate(-2.5%, 0);
            margin-bottom: 2%;
            position: relative;
        }

        /*-----Consequences of No Water Collage -----*/
        .consequences-imgCollage{
            position: relative;
        }

        .consequences-imgCollage::after{
            content: "";
            clear: both;
            position: initial;
        }

        #consequences-forest, #consequences-deer, #consequences-Turtle, #consequences-bird{
            z-index: 3; 
            position: absolute;  
            overflow: hidden;        
        }

        #consequences-forest img, #consequences-deer img, #consequences-Turtle img, #consequences-bird img{
            width: 11.5%;
            border-radius: 50%;
            object-fit: contain;
        }

        #consequences-forest {
            transform: translate(55%, -150%);
        }

        #consequences-deer {
            transform: translate(11%, -180%);
        }

        #consequences-bird {
            transform: translate(43%, -500%);
        }

        #consequences-Turtle {
            transform: translate(83%, -190%);
        }

        /*Styling big image BG--------*/
        #city_lake{
            width: 100%;
            display: inline-block;
            position: relative;
        }
        /*-----END Consequences of No Water Collages -----*/
        /*-----END Consequences of No Water section -----*/


/*-----END Why conserve Water section -----*/



/*-----Protecting Singapore's water supply -----*/

    /*-----Sources of Water in Singapore section----*/
        #supply-Gallery{
            display: flex;
            flex-direction: row;
            width: 100%;
            margin-top: 2%;
        }

        #supply-Gallery::after{
            content: "";
            clear: both;

        }

        .waterSupply-GalleryImg {
            width: 100%;
            height: 100%;    
        }


    /*Creating the flipcards----*/
        .flip-card {
            background-color: transparent;
            width: 25vw;
            height:25vw;
            object-fit: contain;
            margin: .9%;
            padding: 0;
        }

        .flip-card-inner {
            position: relative;
            width: 100%;
            height: 100%;
            text-align: center;
            transition: transform 0.6s;
            transform-style: preserve-3d;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        }

        .flip-card:hover .flip-card-inner {
            transform: rotateY(180deg);
        }


        .flip-card-front, .flip-card-back {
            position: absolute;
            width: 100%;
            height: 100%;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
        }

        .flip-card::after{
            content: "";
            clear: both;
            position: initial;
        }
          
        .flip-card-front {
            background-color: transparent;
        }
          
        .flip-card-back {
            background-color: #2980b9;
            color: white;
            transform: rotateY(180deg);
            padding: 20% 10% 20%;
            
        }
        
        .flip-card-TitleTxt { 
            font-size: 1.6rem;
            margin-top: 0;
        }

        .flip-card-Txt {
            font-size: 1.2rem;
            text-align: left;
            margin-bottom: 0;
        }

    /*Switch to activate Quiz----*/
        #switchQuiz{
            margin: 2% 0;
            transform: translateX(110%);
        }

        /*-----END Sources of Water in Singapore section----*/


/*-------END Protecting Singapore's Water supply Section------*/
@media only screen and (max-width: 1600px) {
    p.waterUses_btn {
        transform: translate(50%, 90%);
    }

    p.waterSustains_btn {
        transform: translate(3.5%, 400%);
    }

    #consequences-forest {
        transform: translate(55%, -120%);
    }

    #consequences-bird {
        transform: translate(43%, -400%);
    }
}

@media only screen and (max-width: 1366px) {
    p.waterUses_btn {
        transform: translate(35%,50%);
    }

    p.waterSustains_btn {
        transform: translate(0%,70%);
    }
}

@media only screen and (max-width: 1280px) {
    
    p.waterUses_btn {
        transform: translate(50%,10%);
    }

    p.waterSustains_btn {
        transform: translate(5%,100%);
    }

    #consequences-bird {
        transform: translate(43%, -400%);
    }
}

@media only screen and (max-width: 1080px) {
    p.waterUses_btn {
        transform: translate(30%,10%);
    }

    p.waterSustains_btn {
        transform: translate(0%,100%);
    }
}

@media only screen and (max-width: 1024px) {
    .intro {
        transform: translate(-70%,2%);
    }

    p.waterUses_btn {
        transform: translate(15%,10%);
    }

    p.waterSustains_btn {
        transform: translate(1%,70%);
    }

    #navbar{
        position: relative;
    }

    #phoneNavBtn{
        display: block;
    }

    #browserNav {
        display: none;
    }
}

@media only screen and (max-width: 810px) {
    section {
        margin: 0 2.5%;
        width: calc(100vw - 5%);
    }

    .valueWater_btns{
        margin-left: 0px;
    }

    .valueWater_img {
        width: 47%;
        margin: 0 0.5%;
    }

    p.waterSustains_btn, p.waterUses_btn {
        font-size: 2rem;
    }

    p.waterSustains_btn {
        transform: translate(-5%, 130%);
    }

    p.waterUses_btn {
        transform: translate(30%, 7%);
    }

    .ws-collagePic {
        width: 31%;
    }

    .section-waterConserve {
        left: initial;
    }

    .waterNeed-demo {
        margin-top: 3%;
    }

    #consq {
        width: 100vw;
        margin: initial;
    }

    #supply-Gallery {
        transform: initial;
    }

    .overlay-Content {
        margin-bottom: 2%;
    }

    sl-button.footer-btn::part(base){
        transform: translate(170%, 0%);
        padding: 2%;
    }

    .flip-card {
        width: 50vw;
        height: 50vw;
    }

}

@media only screen and (max-width: 800px) {
    p.waterSustains_btn {
        transform: translate(0%, 130%);
    }

}

@media only screen and (max-width: 720px) {
    .intro {
        transform: translate(-70%, 5%);
    }
    
    h4 {
        font-size: 2.5rem;
    }

    
    p.waterSustains_btn, p.waterUses_btn {
        font-size: 1.8rem;
    }

    p.waterSustains_btn {
        transform: translate(0%, 130%);
    }

    p.waterUses_btn {
        transform: translate(30%, 7%);
    }
}

@media only screen and (max-width: 428px) {
    section {
        margin: 0 0.5%;
        width: calc(100vw - 1%);
    }

    h1, h2, h3, h4, h5, h6, p {
        text-align: left;
    }

    h3{
        font-size: 1.3rem;
    }

    #browserNav {
        padding-left: 0;
    }

    .welcome {
        text-align: left;
    }

    .valueWater_btns {
        flex-direction: column;
    }

    .section-waterConserve, .section-waterAvail, .proteccH2O, .section-waterSustains {
        display: flex;
        flex-direction: column;
    }

    p.waterSustains_btn {
        transform: initial;
        color: white;
    }

    .ws-collagePic {
        width: 98%;
        margin-bottom: 2%;
    }

    .waterAvail-img {
        width: 100%;
    }

    .valueWater_img {
        width: 99%;
        margin: 0 0.5% 3%;
    }

    #supply-Gallery {
        display: flex;
        flex-direction: column;
    }

    #city_lake img {
        height: 80vh;
        width: auto;
        object-fit: cover;
        margin-bottom: 3%;
    }

    #consequences-forest img, #consequences-deer img, #consequences-Turtle img, #consequences-bird img{
        width: 20%;
    }

    #consequences-bird {
        transform: translate(42%, -880%);
    }

    #consequences-deer {
        transform: translate(2%, -250%);
    }

    #consequences-forest {
        transform: translate(35%, -155%);
    }

    #consequences-Turtle {
        transform: translate(65%, -380%);
    }

    .waterAvail-gallery {
        display: flex;
        flex-direction: column;
    }

    .flip-card {
        margin-bottom: 2%;
        height: 90vw;
        width: 90vw;
    }

    sl-button.footer-btn::part(base) {
        transform: translate(70%, 0%);
    }
}
