* {
    box-sizing: border-box;
}

/*-------Fonts-------*/
body {
    font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    text-align: center;
    margin-top: 5%;
}



/*------General Stylings------*/
.intro{
    width: 80vw;
    margin: 0 10vw;
    height: 100vh;
    padding: 0;
}

section {
    height: 100vh;
    margin: 0 10vw;
    padding: 0;
    width: 80vw;
}

img {
    max-width: 100%;
    max-height: 100%;
}

h1 {
    font-size: 5.2vw;
}

h2 {
    text-transform: uppercase;
    font-size: 4.4vw;
}

h3 {
    font-size: 3.2vw;
}

/*----Sticky Navigation-----*/
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .value_h2O {
    padding-top: 60px;
}

.sticky + .conserveH2O {
    padding-top: 60px;
}

.sticky + .proteccH2O {
    padding-top: 60px;
}

/*-----Intro section------*/
#navbar {
    overflow: hidden;
    z-index: 100;
}

.intro-btn::part(base) {
    background: white;
    border: solid 1px #5B9ED9;
    margin-left: 70%;
    margin-top: 0;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

.intro-btn::part(base):hover {
    background: #99c8f2;
}

.welcome {
    text-align: center;
    font-size: 1.25rem;
}

/*-----END Intro Section-----*/

/*-----Value of water section----*/
.valueWater_btn{
    width: 40%;
    margin: 0;
    padding: 0;
}

/*----- How much Water is really needed section -----*/
.waterNeed-img {
    width: 20vw;
    height: auto;
    left: 0;
    right: 5%;
    padding: 0%;
    top: 0;
    bottom: 0;
}

/*----- END How much Water is really needed section -----*/

/*----- How much Water we have section -----*/
.waterAvail-img {
    width: 50%;
    margin: 0 10%;
    padding: 0;
}

.waterAvail-demo {
    width: 20%;
    margin: 0;
    padding: 0;
}
/*----- END How much Water we have  section -----*/

/*-----Protecting Singapore's water supply -----*/
.waterSupply-Gallery {
    width: 20%;
    margin: 0;
    padding: 0;
    
}

/*-----Consequences of No Water section -----*/
#city_lake{
    width: 70%;
}